p {
  font-family: "ヒラギノ明朝 ProN W3", "MS UI Gothic", sans-serif;
}
.About-top {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0;
  background-image: url(../../images/desk.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
  background-attachment: fixed; */
}

.About-top:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url(../../images/desk.jpg) center no-repeat;
  background-size: cover;
}

.About-top-container {
  text-align: center;
  z-index: 1;
}

.About-top-container > h3 {
  font-family: "Corben", cursive;
  font-size: 4rem;

  animation-name: fade-in-name;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes fade-in-name {
  0% {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.About-top-container > p {
  font-family: "Corben", cursive;
  opacity: 0;

  animation-name: fade-in-name;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes fade-in-name {
  0% {
    /* opacity: 0; */
    transform: translate3d(0, -50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*About-body*/

.About-body {
  /* height: 1400px; */
  padding:15% 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.About-body-title {
  margin: 0 auto ;
  position: relative;
  width: 50%;
}

.About-body-title > h4::after {
  content: "";
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: -25%;
  border-bottom: 10px solid #333;
}

.About-body-text {
  margin-top: 120px;
}

.About-body-text > p {
  margin-bottom: 50px;
}

.About-skill-icon {
  margin: 4%;
  font-size: 22px;
}

.About-container2 {
  margin-top: 20%;
}

.Qualification {
  color: #ffffff;
  font-family:'Comic Sans MS';
  font-size: 160%;
  background-color:plum;
  margin:14% auto -12%;
  width:200px;
}

.Qualification-icons {
  margin: 10% auto 0;
  width: 100%;
  border: 5px solid plum;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Deeplearning-div {
  width: 200px;
  height: 230px;
  position: relative;
  margin: 4%;
 }

 .toeic-div {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 4%;
 }

 .Qualification-icon {
  height: 200px;
  width: 200px;
  position: absolute;
  background-size: cover;
}
.Qualification-icon1 {
  background-image: url(../../images/GeneralBadge.png);
}

.Qualification-icon2 {
  background-image: url(../../images/engineerbadge.png);
}

.Qualification-icon3 {
  background-image: url(../../images/TOEIC.jpg);
  height: 150px;
  width: 200px;
  position: absolute;
  background-size: cover;
}

 .Qualification-p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-bottom: 0;
 }

.Front-end {
  color: #ffffff;
  font-family:'Comic Sans MS';
  font-size: 160%;
  background-color:orange;
  margin:14% auto -12%;
  width:200px;
}

.Front-end-icons {
  margin: 10% auto 0;
  width: 100%;
  border: 5px solid orange;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Back-end {
  color: #ffffff;
  font-family:'Comic Sans MS';
  font-size: 160%;
  background-color:skyblue;
  margin:14% auto -12%;
  width: 200px;
}

.Back-end-icons {
  margin: 10% auto 0;
  width: 100%;
  border: 5px solid skyblue;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* .About-container {
  width: 100%;
} */
/* .About-container1{
  position: relative;
} */

/* .about-picture-container {
  position: relative;
  left: 110%;
  bottom: 0px;
} */

.picture4 {
  background-image: url(../../images/tennis.JPG);
}
.picture5 {
  background-image: url(../../images/cement.JPG);
  left: 80px;
  top: 140px;
}
.picture6 {
  background-image: url(../../images/sinkai.JPG);
  top: 280px;
}

@media screen and (max-width: 1420px) {
  .picture-container {
    z-index: 1;
    bottom: 200px;
  }
  .picture5 {
    left: 0;
    top: 170px;
  }

  .picture6 {
    top: 340px;
  }
}

@media screen and (max-width: 1270px) {
  .picture4,
  .picture5,
  .picture6 {
    display: none;
  }
  .About-body-text {
    width: 70%;
    margin: 120px auto;
  }
}