.Contact-area {
  background-image: url(../../images/desk.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.icon-container {
  margin-top: 90px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
