.header {
  height: 100px;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-around;
  position: fixed;
}

.header-left {
  width: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-right {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* メニューバーの CSS */
.open,
.close {
  display: none;
}

input[type="checkbox"] {
  position: absolute;
  left: -50vw;
}

@media screen and (max-width: 1000px) {
  .header-right {
   display: none;
  }

  .open,
  .close {
    display: block;
  }
  .open {
    position: absolute;
    left: 0;
  }
}
