img {
  margin: 50px 0 0;
  width: 300px;
  height: 300px;
}

.Works-body {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.Works-body-text {
  margin-bottom: 130px;
  margin-top: 60px;
}

.Works-body-text > p {
  margin-bottom: 60px;
}

.Works-body-title {
  width: 50%;
  margin: 100px auto 0;
  position: relative;
  
}

.Works-body-title > h4::after {
  content: "";
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: -60%;
  border-bottom: 10px solid #333;
}
