img {
  margin: 50px 0 0;
  width: 400px;
  height: 600px;
}

.Works-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.Works-body-container {
  margin-bottom: 130px;
  margin-top: 60px;
}



.works-p {
  margin-top: 2rem;
}

.Works-body-title {
  width: 50%;
  margin: 100px auto 0;
  position: relative;
  
}

.Works-body-title > h4::after {
  content: "";
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: -60%;
  border-bottom: 10px solid #333;
}

.cell-image {
  width: 300px;
  height: 300px;
}

.nlp-image{
  width: 500px;
  height: 350px;
}

.mitsubishi-image{
  width: 500px;
  height: 300px;
}

.works-title {
  margin-top: 100px;
}

@media screen and (max-width : 700px) {
  .Works-body-container > p {
    width: 70%;
    margin:auto;
  }
}

@media screen and (max-width : 530px) {
  .nlp-image,
  .mitsubishi-image {
    height: 210px;
    width: 300px;
  }
}